﻿@{
    ViewBag.Title = "Unauthorized";
    ViewBag.Description = "Sorry, this page requires authentication.";
}
<br /><br />
<div class="jumbotron text-center">
    <div>
        <h1 class="text-danger">
            <span aria-hidden="true" class="fa fa-ban"></span> @ViewBag.Title
        </h1>
    </div>
    <p>@ViewBag.Description</p>
    <a asp-area="" asp-controller="Login" asp-action="Index" class="btn btn-primary btn-lg">Login</a>
</div>