﻿@{
    ViewBag.Title = "Internal server error";
    ViewBag.Description = "Something went wrong. Please contact your administrator";
}
<br /><br />
<div class="jumbotron text-center">
    <div>
        <h1 class="text-danger">
            <span aria-hidden="true" class="fa fa-ban"></span> @ViewBag.Title
        </h1>
    </div>
    <p>@ViewBag.Description</p>
    <a asp-area="" asp-controller="Account" asp-action="Index" class="btn btn-primary btn-lg">Go home</a>
</div>