﻿@model LoginVm
@using Microsoft.AspNetCore.Http;

@inject IHttpContextAccessor _httpContextAccessor;

@{
    ViewData["Title"] = "Login";
}

@{
    var redirectUrl = _httpContextAccessor.HttpContext.Request.Query["returnUrl"];
}

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="card">
            <h1>@ViewBag.Title</h1>
            <section id="loginForm">
                <form asp-controller="Login" asp-action="Index" method="post" role="form" class="form-horizontal" autocomplete="off">

                    @Html.AntiForgeryToken()
                    <input type="hidden" asp-for="ReturnUrl" value="@redirectUrl" />
                    <h4>Enter your credentials</h4>
                    <hr />

                    <p class="text-danger">@ViewData["LoginError"]</p>

                    <div class="form-group">
                        <div class="col-md-12">
                            <input asp-for="Username" class="form-control" placeholder="Username" />
                            <span asp-validation-for="Username" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <input asp-for="Password" class="form-control" placeholder="Password" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            <div class="checkbox abc-checkbox abc-checkbox-default">
                                <input asp-for="RememberMe" type="checkbox" />
                                <label asp-for="RememberMe">Remember me</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-10">
                            <input type="submit" value="Login" class="btn btn-primary" />
                        </div>
                    </div>
                </form>
            </section>
        </div>
    </div>
</div>