﻿@model AccountsVm

@inject ICurrentAccount CurrentAccount

@if (Model?.Accounts != null)
{
    @foreach (var account in Model.Accounts)
    {
        <tr class="item">
            <td>
                @account.FirstName
            </td>
            <td>
                @account.LastName
            </td>
            <td>
                @account.Username
            </td>
            @if (CurrentAccount.Id != account.Id)
            {
                <td style="width: 10%;"> <a asp-action="Send" asp-controller="Message" asp-route-toAccountId="@account.Id" class="btn btn-success">Send message</a> </td>
            }
        </tr>
    }
}

@if (!Model.Filter.IsLastPage)
{
    <tr class="load-more-parent">
        <td class="text-center" colspan="10">
            <a class="btn btn-primary btn-more">Load more</a>
        </td>
    </tr>
}