﻿@model AccountsVm

@{
    ViewData["Title"] = "Accounts";
}

<div class="card">
    <div class="row">
        <div class="col-md-6">
            <h1>@ViewData["Title"]</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="">
                <form asp-action="List" role="form" id="filter-form" class="form-inline" method="post">
                    <input asp-for="Filter.Page" type="hidden" />
                    <input asp-for="Filter.IsFilterClicked" type="hidden" />
                    <input asp-for="Filter.Search" class="form-control" placeholder="Search" />
                    <button type="submit" class="btn btn-primary">Search</button>
                </form>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>First name</th>
                            <th>Last name</th>
                            <th>Username</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody class="data-ajax">
                        @{
                            Html.RenderPartial("_List", Model);
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>