﻿@model MessagesVm

@inject ICurrentAccount CurrentAccount

@if (Model?.Messages != null && Model.Messages.Any())
{
    @foreach (var message in Model.Messages)
    {
        bool amITheSender = message.FromFullName == CurrentAccount.FullName;
        var messageClass = amITheSender ? "i-sender" : "h-sender col-md-offset-6";

        <div class="single-message-wrapper col-md-6 @messageClass">
            @{ string fromName = amITheSender ? "Me" : @message.FromFullName; }
            <div class="f-size-1-4">
                @if (amITheSender)
                {
                    <span>TO: </span> <b> @message.ToFullName </b>
                }
                else
                {
                    <span>FROM: </span> <b> @fromName </b>
                }
                <span class="pull-right">@Html.Raw($"{message.SentOn.ToShortDateString()} {message.SentOn.ToShortTimeString()}") </span>
                @if (!message.IsRead)
                {
                    <span class="label label-danger pull-right">New</span>
                }
                <br />
            </div>
            <br />
            <div class="f-size-1-7">
                <p><b> @message.Text </b> </p>
            </div>
            <div class="pull-left">
                <div class="checkbox abc-checkbox abc-checkbox-default">
                    <input type="checkbox" value="@message.Id" name="@message.Id" class="delete-checkbox" />
                    <label for="@message.Id"></label>
                </div>
            </div>
            @if (!amITheSender)
            {
                <div class="pull-right">
                    <a asp-action="Send" asp-controller="Message" asp-route-toAccountId="@message.FromAccountId" class="btn btn-default f-size-1-4">Reply to @message.FromFullName</a>
                </div>
            }
            <div class="clearfix"></div>
        </div>

        <div class="clearfix"></div>
      }
}
else
{
   <div class="col-md-12 text-center text-danger p-t-d-40"> No messages </div>
}

@if (!Model.Filter.IsLastPage)
{
    <div class="load-more-parent">
        <a class="btn btn-primary btn-more">Load older</a>
    </div>
}
else if(Model.Filter.Page != 1 || Model.Messages.Any())
{
    <div class="text-center p-t-d-40">
        <span>No more messages</span>
    </div>
}