﻿@model MessageVm

<div class="form-group">
    <input asp-for="ToAccountId" type="hidden"  />
    <div class="col-md-6">
        <label asp-for="Text" class="control-label">Text</label>
        <textarea asp-for="Text" class="form-control" rows="6" placeholder="Text"></textarea>
        <span asp-validation-for="Text" class="text-danger"></span>
    </div>
</div>
<div class="form-group">
    <div class="col-md-6">
        <button type="submit" class="btn btn-primary">Send</button>
    </div>
</div>