﻿@model MessagesVm

@{
    ViewData["Title"] = "Messages";
}

<div class="card">
    <div class="row">
        <div class="col-md-6">
            <h1>@ViewData["Title"]</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="">
                <form asp-action="List" role="form" id="filter-form" class="form-inline" method="post">
                    <input asp-for="Filter.Page" type="hidden" />
                    <input asp-for="Filter.IsFilterClicked" type="hidden" />
                    <label asp-for="Filter.WithAccountId" class="control-label">Show only with</label>
                    <select asp-for="Filter.WithAccountId" asp-items="@Model.Filter.AccountsDropdown" class="form-control autocomplete-dropdown">
                        <option value="">-- Select --</option>
                    </select>
                    <button type="submit" class="btn btn-primary">Show</button>
                    <a class="pull-right btn btn-danger btn-delete" data-action="@Url.Action("DeleteMessages")">Delete selected</a>
                    <a class="pull-right btn btn-default select-all">Select all</a>
                </form>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="row">
                <div class="message-list-wrapper data-ajax">
                    @{
                        Html.RenderPartial("_List", Model);
                    }
                </div>
            </div>
        </div>
    </div>

</div>