﻿@model MessageVm

@{
    ViewData["Title"] = "Send message";
}

<div class="card">
    <div class="row">
        <div class="col-md-6">
            <a asp-action="Index" asp-controller="Message" class="btn btn-default"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> See messagges </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h1>@ViewData["Title"]</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form asp-action="Send" asp-controller="Message" role="form" class="form-horizontal" method="post">
                @{
                    Html.RenderPartial("_SendMessage");
                }
            </form>
        </div>
    </div>
</div>