﻿@model RegisterVm


@{
    ViewData["Title"] = "Register";
}

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="card">
            <h1>@ViewBag.Title</h1>
            <section id="loginForm">
                <form asp-controller="Register" asp-action="Index" method="post" role="form" class="form-horizontal" autocomplete="off">

                    @Html.AntiForgeryToken()
                    
                    <h4>Register new account</h4>
                    <hr />

                    <p class="text-danger">@ViewData["RegisterError"]</p>
                    <div class="form-group">
                        <div class="col-md-6">
                            <input asp-for="FirstName" class="form-control" placeholder="FirstName" />
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                        <div class="col-md-6">
                            <input asp-for="LastName" class="form-control" placeholder="LastName" />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <input asp-for="Username" class="form-control" placeholder="Username" />
                            <span asp-validation-for="Username" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <input asp-for="Password" class="form-control" placeholder="Password" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <div class="col-md-10">
                            <input type="submit" value="Register" class="btn btn-primary" />
                        </div>
                    </div>
                </form>
            </section>
        </div>
    </div>
</div>