﻿@inject ICurrentAccount CurrentAccount

@if (this.User.Identity.IsAuthenticated)
{
    <form asp-area="" asp-controller="Login" asp-action="Logout" method="get" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="#0">@CurrentAccount.FullName</a> 
            </li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">Log off</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="" asp-controller="Register" asp-action="Index">Register</a></li>
        <li><a asp-area="" asp-controller="Login" asp-action="Index">Log in</a></li>
    </ul>
}