﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"]
{
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
  /* Hide captions */
  .carousel-caption {
    display: none
  }
}

.notification-container{
    float: right;
    margin-left: 5px;
}

.navbar-default{
    box-shadow: 0px 0px 9px #000;
}

table tr:hover{
    background-color: rgba(0,0,0,0.02) !important;
}

.table tbody>tr>td{
    vertical-align: middle;
}

.card {
    padding: 1rem 4rem;
    /* background-color: #1d1e21; */
    border-radius: 5px;
    overflow: visible;
    margin: 6rem 0rem;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}

.i-sender{
    padding: 1rem 2rem;
    border-radius: 5px;
    color:white;
    background-color: #18bc9c;
    margin-top: 10px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.8);
}

.h-sender{
    padding: 1rem 2rem;
    border-radius: 5px;
    color:white;
    margin-top: 10px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.8);
    background-color: #2c3e50;
}

.f-size-1-4{
    font-size: 1.4rem;
}

.f-size-1-7{
    font-size: 1.7rem;
}

.p-t-d-40{
    padding: 40px 0px;
}

.label{
    margin: 3px 5px;
}

.centerCF {
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.loader-wrapper {
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.3);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.hide {
    visibility: hidden;
}

.loader,
.loader:before,
.loader:after {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: load7 1.8s infinite ease-in-out;
    animation: load7 1.8s infinite ease-in-out;
}

.loader {
    color: black;
    font-size: 7px;
    margin: 80px auto;
    position: relative;
    text-indent: -9999em;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

.loader:before,
.loader:after {
    content: '';
    position: absolute;
    top: 0;
}

.loader:before {
    left: -3.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.loader:after {
    left: 3.5em;
}

@-webkit-keyframes load7 {
    0%, 80%, 100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }

    40% {
        box-shadow: 0 2.5em 0 0;
    }
}

@keyframes load7 {
    0%, 80%, 100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }

    40% {
        box-shadow: 0 2.5em 0 0;
    }
}


.select2-container .select2-selection--single {
    height: 44px !important;
    border: 1px solid #2c3e50;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 44px !important;
    color: black !important;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
    border: 1px solid #2c3e50;
    background-color: white !important;
}

.select2-container--default .select2-selection--single {
    background-color: white;
    border: 1px solid #2c3e50;
    border-radius: 4px;
}

.select2-container--default .select2-selection--multiple {
    background-color: white;
    border: 1px solid #2c3e50;
    border-radius: 4px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: white !important;
    border: 1px solid #2c3e50 !important;
}

.select2-dropdown {
    border: 1px solid #2c3e50;
    background-color: white !important;
}

.select2-container--default .select2-results__option[aria-selected=true] {
    background-color: white;
    color: black;
}

.select2-container--default .select2-results > .select2-results__options {
    max-height: 350px !important;
}


/* Bootstrap ovverride Checkbox */

.abc-checkbox {
    padding-left: 20px;
}

.abc-checkbox label {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 5px;
}

.abc-checkbox label::before {
    cursor: pointer;
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #fff;
}

.abc-checkbox label::after {
    cursor: pointer;
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    top: 0;
    margin-left: -20px;
    padding-left: 3px;
    padding-top: 1px;
    font-size: 11px;
    color: #55595c;
}

.abc-checkbox input[type="checkbox"],
.abc-checkbox input[type="radio"] {
    cursor: pointer;
    opacity: 0;
    z-index: 1;
}

.abc-checkbox input[type="checkbox"]:focus + label::before,
.abc-checkbox input[type="radio"]:focus + label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.abc-checkbox input[type="checkbox"]:checked + label::after,
.abc-checkbox input[type="radio"]:checked + label::after {
    font-family: "FontAwesome";
    content: "";
}

.abc-checkbox input[type="checkbox"]:indeterminate + label::after,
.abc-checkbox input[type="radio"]:indeterminate + label::after {
    display: block;
    content: "";
    width: 10px;
    height: 3px;
    background-color: #555555;
    border-radius: 2px;
    margin-left: -16.5px;
    margin-top: 7px;
}

.abc-checkbox input[type="checkbox"]:disabled + label,
.abc-checkbox input[type="radio"]:disabled + label {
    opacity: 0.65;
}

.abc-checkbox input[type="checkbox"]:disabled + label::before,
.abc-checkbox input[type="radio"]:disabled + label::before {
    background-color: #eceeef;
    cursor: not-allowed;
}

.abc-checkbox.abc-checkbox-circle label::before {
    border-radius: 50%;
}

.abc-checkbox.checkbox-inline {
    margin-top: 0;
}

.abc-checkbox-primary input[type="checkbox"]:checked + label::before,
.abc-checkbox-primary input[type="radio"]:checked + label::before {
    background-color: #2c3e50;
    border-color: #2c3e50;
}

.abc-checkbox-primary input[type="checkbox"]:checked + label::after,
.abc-checkbox-primary input[type="radio"]:checked + label::after {
    color: #fff;
}

.abc-checkbox-danger input[type="checkbox"]:checked + label::before,
.abc-checkbox-danger input[type="radio"]:checked + label::before {
    background-color: #e74c3c;
    border-color: #e74c3c;
}

.abc-checkbox-danger input[type="checkbox"]:checked + label::after,
.abc-checkbox-danger input[type="radio"]:checked + label::after {
    color: #fff;
}

.abc-checkbox-info input[type="checkbox"]:checked + label::before,
.abc-checkbox-info input[type="radio"]:checked + label::before {
    background-color: #5bc0de;
    border-color: #5bc0de;
}

.abc-checkbox-info input[type="checkbox"]:checked + label::after,
.abc-checkbox-info input[type="radio"]:checked + label::after {
    color: #fff;
}

.abc-checkbox-warning input[type="checkbox"]:checked + label::before,
.abc-checkbox-warning input[type="radio"]:checked + label::before {
    background-color: #f0ad4e;
    border-color: #f0ad4e;
}

.abc-checkbox-warning input[type="checkbox"]:checked + label::after,
.abc-checkbox-warning input[type="radio"]:checked + label::after {
    color: #fff;
}

.abc-checkbox-success input[type="checkbox"]:checked + label::before,
.abc-checkbox-success input[type="radio"]:checked + label::before {
    background-color: #18bc9c;
    border-color: #18bc9c;
}

.abc-checkbox-success input[type="checkbox"]:checked + label::after,
.abc-checkbox-success input[type="radio"]:checked + label::after {
    color: #fff;
}

.abc-checkbox-primary input[type="checkbox"]:indeterminate + label::before,
.abc-checkbox-primary input[type="radio"]:indeterminate + label::before {
    background-color: #0275d8;
    border-color: #0275d8;
}

.abc-checkbox-primary input[type="checkbox"]:indeterminate + label::after,
.abc-checkbox-primary input[type="radio"]:indeterminate + label::after {
    background-color: #fff;
}

.abc-checkbox-danger input[type="checkbox"]:indeterminate + label::before,
.abc-checkbox-danger input[type="radio"]:indeterminate + label::before {
    background-color: #d9534f;
    border-color: #d9534f;
}

.abc-checkbox-danger input[type="checkbox"]:indeterminate + label::after,
.abc-checkbox-danger input[type="radio"]:indeterminate + label::after {
    background-color: #fff;
}

.abc-checkbox-info input[type="checkbox"]:indeterminate + label::before,
.abc-checkbox-info input[type="radio"]:indeterminate + label::before {
    background-color: #5bc0de;
    border-color: #5bc0de;
}

.abc-checkbox-info input[type="checkbox"]:indeterminate + label::after,
.abc-checkbox-info input[type="radio"]:indeterminate + label::after {
    background-color: #fff;
}

.abc-checkbox-warning input[type="checkbox"]:indeterminate + label::before,
.abc-checkbox-warning input[type="radio"]:indeterminate + label::before {
    background-color: #f0ad4e;
    border-color: #f0ad4e;
}

.abc-checkbox-warning input[type="checkbox"]:indeterminate + label::after,
.abc-checkbox-warning input[type="radio"]:indeterminate + label::after {
    background-color: #fff;
}

.abc-checkbox-success input[type="checkbox"]:indeterminate + label::before,
.abc-checkbox-success input[type="radio"]:indeterminate + label::before {
    background-color: #5cb85c;
    border-color: #5cb85c;
}

.abc-checkbox-success input[type="checkbox"]:indeterminate + label::after,
.abc-checkbox-success input[type="radio"]:indeterminate + label::after {
    background-color: #fff;
}

.abc-radio {
    padding-left: 20px;
}

.abc-radio label {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 5px;
}

.abc-radio label::before {
    content: "";
    cursor: pointer;
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #ccc;
    border-radius: 50%;
    background-color: #fff;
}

.abc-radio label::after {
    cursor: pointer;
    display: inline-block;
    position: absolute;
    content: " ";
    width: 11px;
    height: 11px;
    left: 3px;
    top: 3px;
    margin-left: -20px;
    border-radius: 50%;
    background-color: #55595c;
    transform: scale(0, 0);
    transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
}

.abc-radio input[type="radio"] {
    cursor: pointer;
    opacity: 0;
    z-index: 1;
}

.abc-radio input[type="radio"]:focus + label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.abc-radio input[type="radio"]:checked + label::after {
    transform: scale(1, 1);
}

.abc-radio input[type="radio"]:disabled + label {
    opacity: 0.65;
}

.abc-radio input[type="radio"]:disabled + label::before {
    cursor: not-allowed;
}

.abc-radio.radio-inline {
    margin-top: 0;
}

.abc-radio-primary input[type="radio"] + label::after {
    background-color: #0275d8;
}

.abc-radio-primary input[type="radio"]:checked + label::before {
    border-color: #0275d8;
}

.abc-radio-primary input[type="radio"]:checked + label::after {
    background-color: #0275d8;
}

.abc-radio-danger input[type="radio"] + label::after {
    background-color: #d9534f;
}

.abc-radio-danger input[type="radio"]:checked + label::before {
    border-color: #d9534f;
}

.abc-radio-danger input[type="radio"]:checked + label::after {
    background-color: #d9534f;
}

.abc-radio-info input[type="radio"] + label::after {
    background-color: #5bc0de;
}

.abc-radio-info input[type="radio"]:checked + label::before {
    border-color: #5bc0de;
}

.abc-radio-info input[type="radio"]:checked + label::after {
    background-color: #5bc0de;
}

.abc-radio-warning input[type="radio"] + label::after {
    background-color: #f0ad4e;
}

.abc-radio-warning input[type="radio"]:checked + label::before {
    border-color: #f0ad4e;
}

.abc-radio-warning input[type="radio"]:checked + label::after {
    background-color: #f0ad4e;
}

.abc-radio-success input[type="radio"] + label::after {
    background-color: #5cb85c;
}

.abc-radio-success input[type="radio"]:checked + label::before {
    border-color: #5cb85c;
}

.abc-radio-success input[type="radio"]:checked + label::after {
    background-color: #5cb85c;
}

input[type="checkbox"].styled:checked + label:after,
input[type="radio"].styled:checked + label:after {
    font-family: "FontAwesome";
    content: "";
}

input[type="checkbox"] .styled:checked + label::before,
input[type="radio"] .styled:checked + label::before {
    color: #fff;
}

input[type="checkbox"] .styled:checked + label::after,
input[type="radio"] .styled:checked + label::after {
    color: #fff;
}
